{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
     
      <div class="panel panel-default">

        <div class="panel-heading">
          <h1 class="text-center"><em>Instagram</em></h1>
        </div>
        <div class="panel-body">
            <p><b>Register into instagram</b></p>
        <a href="/accounts/register">Register</a>
            <p><b>Click here to login</b></p>
        <a href="/accounts/login/">Login</a>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}