<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwialqPBzKbiAhVRdhoKHYX9DnsQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttp%253A%252F%252Fwww.logosvectorfree.com%252Finstagram-logo-vector-icons-free-download%252F%26psig%3DAOvVaw3AKfoDHni-qbOIIjvG3NCt%26ust%3D1558321057008704&psig=AOvVaw3AKfoDHni-qbOIIjvG3NCt&ust=1558321057008704">
      <a class="navbar-brand" href="{% url 'welcome' %}">Instagram</a>
    </div>
  </div>
</nav>
</body>
</html>